body::-webkit-scrollbar {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.title {
    -webkit-text-stroke: 2px white;
}
/* 
.bottom {
    position: absolute;
    bottom: 20%;
} */